/* 1200++++++++++++++++++++++++++++++++++++++++++++++ */


@media (max-width: 1250px) {

  /* header????????????????????????????????????????????????? */

  .header__content {
    margin-right: 0;
    max-width: 385px;
  }

  .header__titel {
    font-size: 50px;
  }

  .header__img {
    max-width: 450px;
  }

  .directions__list-item {
    max-width: 348px;
    margin-bottom: 30px;
    margin-right: 5px;
  }

  .certificat {
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  .certificat__img-box {
    margin-left: 50px;
    max-width: 500px;
  }


  /* header????????????????????????????????????????????????? */

}

/* 1200++++++++++++++++++++++++++++++++++++++++++++++ */


/* 1100++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 1100px) {
  .burger {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 150;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }

  .burger--follow {
    box-shadow: 0px 0px 6px #1e212c;
    border-radius: 50%;
    background-color: #fff;
    height: 60px;
    width: 60px;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #1E212C;
    border-radius: 3px;
    margin: 3px 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #1E212C;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translatex(100%);
    transition: all .3s;
  }

  .header__top--open {
    transform: translatex(0);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .header__logo {
    margin: 0;
  }

  .header__nav {
    margin: 0 auto;
  }

  .header__nav-list {
    flex-direction: column;
    text-align: center;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__nav-link {
    display: block;
    padding: 20px 0;
}

  .header__user {
    flex-direction: column-reverse;
  }

  .header__user-panel {
    margin-bottom: 30px;
  }

  .header__user-btn {
    margin-right: 0;
  }

  .directions__list {
    justify-content: flex-start;
  }

  .directions__list-item {
    max-width: 330px;
  }

  .team {
    padding: 60px 0;
  }

  .program__inner {
    justify-content: flex-start;
    padding-left: 30%;
  }

  .program__image {
    display: none;
  }
}

/* 1100++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width:1000px) {
  .questions__image-box {
    margin-right: 15px;
    max-width: 350px;
  }

  .footer__top-inner {
    justify-content: center;
    flex-wrap: wrap;
}


.footer__top-col {
  margin-bottom: 15px;
}
.footer__top-text {
  margin-bottom: 15px;
}

}

/* 900++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 900px) {

  .header {
    padding-top: 15px;
  }

  .header__titel {
    margin-bottom: 15px;
  }


  .header__main {
    justify-content: center;
  }

  .header__img {
    display: none;
  }

  .header__info {
    display: none;
  }

  .heading__title {
    font-size: 40px;
  }

  .about {
    padding: 80px 0;
  }

  .about__inner {
    justify-content: center;
  }

  .about__heading {
    margin-bottom: 20px;
  }

  .about__text {
    margin-bottom: 30px;
  }

  .about__img {
    display: none;
  }

  .about__info {
    margin-top: 50px;
    justify-content: center;
  }

  .about__image-box {
    display: none;
  }

  .about__numbers {
    flex-direction: row;
  }

  .about__number {
    align-items: center;
    margin-bottom: 0;
  }

  .about__number {
    font-size: 18px;
    margin-right: 10px;
    line-height: 100%;
  }

  .about__number:last-child {
    margin-right: 0;
  }

  .about__number span {
    font-size: 32px;

  }

  .directions__filter-item {
    white-space: nowrap;
    margin-right: 10px;
  }

  .certificat__inner {
    justify-content: center;
  }

  .certificat__img-box {
    display: none;
  }

  .directions {
    padding-bottom: 60px;
  }

  .test__heading {
    margin-bottom: 20px;
  }

  .test__quote::before {
    display: none;
  }

  .test__slide {
    padding: 20px;
  }

  .test__arrow {
    display: none;
  }

  .test {
    padding-bottom: 60px;
  }

  .jobs {
    padding-bottom: 60px;
  }


  .jobs__heading {
    margin-bottom: 20px;
  }

  .jobs__links {
    width: 130px;
    height: 100px;
  }

  .program {
    padding: 60px 0;
  }

  .program__inner {
    justify-content: flex-start;
    padding-left: 30px;
  }

  .blog {
    padding-bottom: 60px;
  }

  .blog__top {
    margin-bottom: 20px;
  }

  .blog__content {
    justify-content: center;
    flex-wrap: wrap;
  }

  .blog__item {
    margin-bottom: 10px;
  }

  .contact {
    padding-bottom: 60px;
  }

  .contact__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact__content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contact__heading {
    margin-bottom: 20px;
  }

  .contact__info {
    margin-bottom: 20px;
  }

  .contact__info-item {
    margin-bottom: 10px;
  }

  .contact__info-link {
    font-size: 16px;
  }

  .contact__follow-title {
    margin-bottom: 15px;
  }

  .contact__map {
    height: 380px;
  }

  .questions {
    padding-bottom: 60px;
  }

  .questions__heading {
    margin-bottom: 20px;
  }

  .questions__image-box {
    display: none;
  }

  .questions__inner {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .directions__filter-box {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .directions__list-item {
    max-width: 280px;
  }


  .direction__list-item--empty {
    height: 396px;

  }

  .team__heading {
    margin-bottom: 20px;
  }

  .test__quote {
    font-size: 18px;
    line-height: 150%;
  }

  .test__slider-wrapper {
    padding: 0;
  }

  .program__heading {
    margin-bottom: 20px;
  }

  .program__acc-item {
    margin-bottom: 10px;
  }
}



@media (max-width: 650px) {
  .directions__filter-box {
    justify-content: flex-start;
  }

  .directions__filter-item {
    margin-bottom: 10px;
  }

  .certificat__org-box {
    margin-top: 15px;
    justify-content: center;
  }


  .directions__list-item {
    margin-bottom: 10px;
    margin-right: 5px;
  }

  .certificat__org-box img {
    margin-right: 10px;
  }

  .certificat__org-box img:last-child {
    margin-right: 0;
  }

  .heading__subtitle {
    margin-bottom: 0;
  }

  .cetrificat__content .heading__title {
    margin-bottom: 10px;
  }
}

/* 600************************************* */
@media (max-width: 600px) {

  .text--accent {
    font-size: 16px;
    line-height: 100%;
  }

  .about__createx {
    margin-right: 0;
  }

  .about__text .text {
    display: none;
  }

  .heading__title {
    font-size: 30px;
  }

  .about__btn-box {
    flex-direction: column;
    align-items: center;
  }

  .about__btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about__btn:last-child {
    margin-bottom: 0;
  }

  .about__info {
    margin-top: 20px;
  }

  .about__numbers {
    flex-direction: column;
  }

  .directions__link-btn::after {
    top: 4px;
  }

  .jobs__icons {
    justify-content: space-evenly;

  }

  .jobs__links {
    width: 110px;
    height: 70px;
  }

  .program__acc-link {
    padding-left: 20px;
    font-size: 17px;
  }

  .program__acc-head::before, .program__acc-head::after {
    width: 10px;
  }

  .blog__link-btn::after {
    top: 2px;
  }

  .contact__map {
    display: none;
  }

  .qustions__form-row {
    flex-wrap: wrap;
  }

  .qustions__form-row .questions__text-label {
    margin-right: 0;
    width: 100%;
  }

  .qustions__form-checkbox {
    margin-top: 40px;
    flex-direction: column;
}

.questions__checkbox-label {
  margin-right: 0;
  margin-bottom: 20px;
}

.questions__form-btn {
  max-width: 200px;
}

}

/* 600************************************* */

/* 550 */
@media (max-width: 500px) {

  .team__slider-arrows {
    right: 43%;
    bottom: -720%;

  }

  .team__image-box {
    max-width: 300px;
    margin: 0 auto 16px;
  }

  .test__slider-wrapper {
    margin-bottom: 20px;
  }

  .program__inner {
    padding-left: 0;
  }

  .program__content {
    margin-right: 0;
  }

  .program__acc-link span {
    font-size: 16px;
  }

  .blog__item {
    max-width: 300px;
  }
}

/* 550 */


/* 900++++++++++++++++++++++++++++++++++++++++++++++ */


/* 450++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 450px) {
  .header__content {
    max-width: none;
  }

  .header__titel {
    font-size: 38px;
  }

  .header__btn {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header__btn:last-child {
    margin-bottom: 0;
  }

  .directions__filter-box {
    justify-content: center;
  }

  .directions__list-item {
    max-width: 320px;
  }

  .directions__list {
    justify-content: center;
  }

  /* header????????????????????????????????????????????????? */
}

/* 450++++++++++++++++++++++++++++++++++++++++++++++ */

/* 400++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 400px) {
  .header__top {
    width: 100%;
  }


  .header__nav-link {
    padding: 5px 0;
  }

  /* header????????????????????????????????????????????????? */
}

/* 400++++++++++++++++++++++++++++++++++++++++++++++ */